# This file specifies the users or teams responsible for code in the repository, facilitating code review processes.

* @team/project-management
* @team/development
* @user/username1
* @user/username2